@using CuaHangDoChoi.Models
@model List<CuaHangDoChoi.Models.Product>
<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartToys</title>
    <link href="~/Content/image/logo.jpg" rel="shortcut icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript:void(0)"><img src="~/Content/image/logo.jpg" style="width: 70px" class="rounded mx-auto d" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Products/Index">Trang chủ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)">Sản phẩm</a>
                                <ul class="dropdown-menu">
                                    <li><a>Đồ chơi bé trai</a></li>
                                    <li><a>Đồ chơi bé gái</a></li>
                                </ul>
                        </li>
                        <li class="nav-item">
                            @using (Html.BeginForm())
                            {
                                <div class="form-group" style="display: flex;">
                                    Tìm sản phẩm: @Html.TextBox("searchString", "", new { @class = "form-control" })
                                    <input type="submit" class="btn btn-success" value="Tìm kiếm" />
                                </div>
                            }
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto menu" style="position: absolute; right: 50px">
                        @if (Session["idUser"] != null)
                        {
                        <li class="dropdown">
                            <a href="#" class="nav-link text-success dropdown-toggle"><i class="fa-solid fa-user"></i> @Session["taiKhoan"]</a>
                            <ul class="dropdown-menu">
                                <li><a href="">Quản lý tài khoản</a></li>
                                <li><a href="~/Auth/Logout">Đăng xuất</a></li>
                            </ul>
                        </li>
                        }
                        else
                        {
                            <li>
                                <a href="~/Auth/Login" class="nav-link text-success">Login</a>
                            </li>
                            <li>
                                <a href="~/Auth/Register" class="nav-link text-danger">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="ft" style="position: relative;">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1><img src="~/image/logo.jpg" style="width: 70px" class="rounded mx-auto d" />SmartToy</h1>
            <p> &copy; SmartToy 2023</p>
            <p> Hotline:0986553475</p>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <div class="ftitems" style=" position: absolute;right: 20px; top: 50px">
                <ul class="contact">
                    <li style="list-style-type: none"><span>Liên hệ:</span></li>
                    <li style="list-style-type: none"><span><i class="fas fa-map-marked-alt"></i> Địa chỉ: 1570/29 Võ Văn Kiệt, Phường 7, Quận 6, TP.Hồ Chí Minh</span></li>
                    <li style="list-style-type: none"><span><i class="fas fa-phone-alt"></i> SĐT: 03682227862</span></li>
                    <li style="list-style-type: none"><span><i class="fas fa-envelope"></i> Email: smartoy@gmail.com</span></li>
                </ul>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>

